<p>
  <label>Width</label>
  <%= text_field_tag 'settings[thumb_width]', @settings['thumb_width'] %>
</p>
<p>
  <label>Height</label>
  <%= text_field_tag 'settings[thumb_height]', @settings['thumb_height'] %>
</p>
